body {
    background-image: url("../images/estadio.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

h2 {
    color: #000;
}

.row {
    text-align: center;
    margin-left: 6%;
    width: 90%;
}

.carousel .item {
    width: 525px;
    height: 375px;
}


/*.controls {
    width: 300px;
    margin-left: -75px;
}

.controls a {
    display: block;
}

.controls .previous {
    float: left;
}

.controls .next {
    float: right;
}*/

.carousel .item .image {
    width: 100%;
    height: 100%;
}

.previous {
    position: absolute;
    top: 50%;
    left: 22%;
}

.next {
    position: absolute;
    top: 50%;
    right: 22%;
}

.input-form {
    margin-left: 30%;
    width: 40%;
}

.input-form:focus {
    outline: none !important;
    border: 1px solid yellow;
    box-shadow: 0 0 10px #DFFC03;
}

.index-content p {
    font-size: 20px;
    color: #000;
}

.index-content {
    padding: 0% 20%;
}