extends layout

block content
  h1(class="cover-heading") Liga amarilla
  div(class="index-content")
    p Liga amarilla es un sitio web en la cual podrás apostar por los marcadores de las 
        |ligas de fútbol más importantes del mundo y competir por increibles premios como una casa nueva,
        |un carro 0 kilometros, boletos para la final de la Uefa Champions League y mucho más.
        br
        br
        |Solo tienes que registrarte e ingresar un pin que puedes adquirir en cualquiera de los taxis de la
        |ciudad suscritos a nuestra compañía, recuerda que puedes comprar la cantidad de pines que quieras y
        |en cualquier momento, estos tienen un valor de tan solo $1000.
        br
        br
    p(class="lead")
    a(href="/users/signin" class="btn btn-lg btn-warning") Iniciar sesión
    br
    br
    p ¿Aún no tienes una cuenta?
    a(href="/users/signup" class="btn btn-lg btn-warning") Registrate gratis